@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*Global Style*/
*{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
a{
    transition: 0.3s;
}
/*Header Style*/
div#logo {
    display: inline-block;
}

div#nav {
    display: inline-block;
    float: right;
}

header {padding: 25px 0;}

div#logo a h1 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

div#nav nav ul li {
    list-style: none;
    display: inline-block;
}

div#nav nav ul li a {
    padding: 15px 16px;
    color:#000;
    position: relative;
}
div#nav nav ul li a:after {
    height: 2px;
    width: 0%;
    background: #000;
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.3s;
}
div#nav nav ul li a:hover:after {
    width: 100%;
}

/*Hero Section*/
.herosection {
    padding: 150px 0;
}

.herosection .content h1 {
    font-size: 50px;
    line-height: 65px;
    font-weight: 600;
    color: #2c3e50;
    text-transform: capitalize;
}

.herosection .content p {
    font-size: 20px;
    font-weight: 600;
    color: #7f8c8d;
    margin-top: 40px;
}

.btn-cta {
    background: #2c3e50;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 20px;
    transition: 0.3s;
    border: 1px solid transparent;
    position: relative;
}

.btn-cta:hover {
    background: transparent;
    color: #2c3e50;
    border-color: #2c3e50;
    box-shadow: 0px 0px 12px 1px #00000042;
}
a.btn.btn-cta:after {content: '\f30b';font-family: 'Font Awesome 5 Free';position: absolute;right: 11px;opacity: 0; top: 8px;}

a.btn.btn-cta:hover {
    padding-right: 38px;
}

a.btn.btn-cta:hover:after {
    opacity: 1;
}
#mousemove {
    position: absolute
}
#move{
    position: relative
}
/**/
#follower{
    position : absolute;
    height: 20px;
    border: 1px solid #2c3e50;
    background: transparent;
    width: 20px;
    border-radius: 100%;
    top: -5px;

}

/*Service Section*/
section#service {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 100px;
    text-align: center;
}

.section-title h1 {
    font-weight: 800;
    margin-bottom: 30px;
}

.section-title p {
    color: #5f5f5f;
}

.single-service .icon {
    width: 150px;
    box-shadow: 0px 0px 10px 1px #0000000f;
    border-radius: 5px;
    height: 150px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 20px;
    transition: 0.5s;
}
.single-service:hover .icon {box-shadow: 0px 0px 30px 1px #0000002b;}
.single-service .icon img {
    max-height: 100%;
}
.single-service {
    margin-bottom: 30px;
}

.single-service h4 {font-weight: 700;}

/*Video Area*/
section#video-area {
    padding: 200px 0;
    background-image: url(.././img/bg/section-bg1.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

section#video-area h5 {
    color: #fff;
}

section#video-area h1 {font-weight: 800;color: #fff;font-size: 50px;line-height: 45px;margin: 12px 0;}

section#video-area p {
    color: #fff;
    margin-bottom: 30px;
}

section#video-area a.btn.btn-cta:hover {
    background: #fff;
}
.video {
    position: relative;
}

.video a#playVideo {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 80px;
    left: 0;
    transform: translate(-50%, -50%);
}
section#video-area .row {
    align-items: center;
}